@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500,500i,700,700i|Cousine:400,700|IBM+Plex+Serif:400,400i,700,700i");

/* Variables */

:root {
  --font-serif: IBM Plex Sans, sans-serif;
  --font-sansserif: IBM Plex Serif, sans-serif;
  --font-mono: Cousine, sans-serif;

  --white: #ffffff;
  --darkestgray: #222222; 
  --darkergray: #333333; 
  --darkgray: #555555;         /* darkgray */
  --gray: #aaaaaa;
  --lightgray: #cccccc;        /* lightgray */
  --lightergray: #eee;          /* ? */
  --purple: #663399;        /* rebeccapurple; */
  --red: #ff595e;           /* tomato */
  --yellow: #ffca3a;        /* gold */
  --lightblue: #f0f5fa;     /* ghostwhite */
  --blue: rgb(25, 130, 196);          /* steelblue */
  --darkblue: #162E3D;
  --black: #000000;

  --primary: var(--darkgray);
  --secondary: var(--gray);
  --tertiary: var(--lightgray);

  --border-width: 3px;
  --border-radius: 6px;

  --slider-size: 20px;

  --base: 8px;
  --base2: calc(var(--base) * 2);
  --base3: calc(var(--base) * 3);
  --base4: calc(var(--base) * 4);
}

/* All */

* {
  box-sizing: border-box;
}

/* Body */

body {
  font-family: var(--font-serif);
  font-size: var(--base * 2);
  margin: 0;
  /*color: var(--primary);*/
}

/* Basic reset and typograpy */

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 0.5em 0;
  padding: 0;
  line-height: 1.2em;
  color: var(--primary);
}

h1 {
  font-size: calc(var(--base) * 6);
  line-height: 1em;
}
h2 {
  font-size: calc(var(--base) * 4);
}
h3 {
  font-size: calc(var(--base) * 3);
}
h4 {
  font-size: calc(var(--base) * 2.5);
}
h5 {
  font-size: calc(var(--base) * 2);
}
p {
  font-size: calc(var(--base) * 2);
  line-height: calc(var(--base) * 3);
  margin: 0 0 calc(var(--base) * 2) 0;
  color: var(--primary);
}
a {
  text-decoration: none;
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
  font-weight: bold;
}
small {
  font-size: calc(var(--base) * 2);
  color: var(--secondary);
}
img {
  width: 100%;
  display: block;
}
ul, ol {
  margin: 0 0 calc(var(--base) * 2) 0;
}
li {
  color: var(--primary);
  font-size: calc(var(--base) * 2);
}

.break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Forms */

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  background: var(--primary);
  height: var(--border-width);
  position: relative;
  outline: none;
  width: 100%;
  margin-bottom: var(--base2)
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: var(--border-width) solid var(--primary);
  height: var(--slider-size);
  width: var(--slider-size);
  border-radius: 1000px;
  background: white;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
  height: calc(var(--slider-size) * 1.05);
  width: calc(var(--slider-size) * 1.05);
  border-radius: 1000px;
}
input[type="text"],
input[type="number"] {
  display: block;
  border: var(--border-width) solid var(--primary);
  color: var(--darkgray);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: var(--base2);
}

input:disabled {
  opacity: 0.3;
}

label,
.label {
  font-size: calc(var(--base) * 2.25);
  display: block;
  margin-bottom: var(--base2);
  color: var(--primary);
}

.sublabel {
  margin-top: calc(var(--base2) * -1);
  margin-bottom: var(--base2);
  color: var(--secondary);
}

/* Code */

pre {
  font-family: var(--font-mono);
  font-size: calc(var(--base) * 1.75);
  line-height: calc(var(--base) * 2.5);
  overflow: auto;
  border-radius: var(--border);
  background: var(--lightblue);
  color: var(--blue);
  padding: var(--base2);
  white-space: pre;
  margin: 0 0 var(--base2) 0;
}

code {
  font-family: var(--font-mono);
  border-radius: var(--border);
  background: var(--lightblue);
  color: var(--blue);
  padding: calc(var(--base) / 3) calc(var(--base) / 3) 0 calc(var(--base) / 3);
  font-size: calc(var(--base) * 1.75);
  white-space: nowrap;
}

/* Components */

.bullet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-right: var(--base);
  width: 1.5em;
  height: 1.5em;
  background: var(--purple);
  color: var(--white);
}

/* Intro */

.intro {
  font-size: calc(var(--base) * 2.5);
  color: var(--primary);
}

/* Text */

blockquote, .text {
  font-family: var(--font-sansserif);
  font-size: calc(var(--base) * 2.75);
  line-height: calc(var(--base) * 3);
  color: var(--primary);
  margin: 0;
}

blockquote p {
  margin: 0 0 calc(var(--base) * 2) 0;
  color: var(--primary);
}

blockquote a, .text a {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  border-bottom: 3px solid var(--tertiary);
  padding: calc(var(--base) * 1) calc(var(--base) / 2);
  text-align: left;
  font-weight: normal;
  color: var(--secondary);
}
tr {
  border-bottom: 1px solid var(--tertiary);
}
td {
  padding: calc(var(--base) * 1) calc(var(--base) / 2);
  color: var(--primary);
}

/* Button */

.button_primary {
  background: var(--purple);
  padding: calc(var(--base) * 1.25) calc(var(--base) * 2);
  display: inline-flex;
  border-radius: var(--border-radius);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.button_secondary {
  background: var(--tertiary);
  padding: calc(var(--base) * 1.5) calc(var(--base) * 2);
  display: inline-flex;
  border-radius: var(--border-radius);
  color: var(--darkgray);
  font-weight: bold;
  cursor: pointer;
}

.button_tertiary {
  padding: calc(var(--base) * 0.5) calc(var(--base) * 1);
  display: inline-flex;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  color: var(--primary);
  font-weight: bold;
  font-size: calc(var(--base) * 1.75);
  cursor: pointer;
}

.buttons {
  display: flex;
}

.buttons .button_tertiary {
  margin-left: -3px;
  border-radius: 0;
}

.buttons .button_tertiary:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.buttons .button_tertiary:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* Layout */

header,
.header {
  display: flex;
  min-height: calc(var(--base) * 10);
  padding: 0 var(--base4);
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-width) solid var(--darkgray);
  font-size: calc(var(--base) * 2.25);
  font-weight: bold;
  background: var(--yellow);
  color: var(--darkgray);
}

/* Internal styles */

dd {
  font-family: var(--font-mono);
  color: var(--tertiary);
  margin: 0;
  padding: 0;
  margin: calc(var(--base) * 2) 0;
}
dd:first {
  margin-top: 0;
}

footer, .footer {
  border-top: 3px solid var(--darkgray);
  padding: var(--base4) var(--base4) calc(var(--base) * 12) var(--base4);
  display: flex;
  justify-content: space-between;
  background: var(--yellow);
}

@media (max-width: 800px) {
  footer, .footer {
    flex-direction: column;
  }
}

/* Hero */

.hero {
  --base: 13px;
  padding: var(--base4);
  background: var(--darkergray);
  border-bottom: var(--border) solid var(--darkgray);
  color: var(--yellow);
  letter-spacing: -0.03em;
}
.hero h1 {
  color: var(--yellow);
}

/* Internal use */

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem; 
}

@media (max-width: 900px) {
  .columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem; 
  }
}

.colors {
  display: grid;
  grid-template-columns: 4rem 5fr 4rem 5fr 4rem 5fr;
  grid-template-rows: repeat(4, 4rem);
  grid-gap: 0.5rem;
}
@media (max-width: 900px) {
  .colors {
    grid-template-columns: 4rem 1fr;
    grid-template-rows: repeat(12, 4rem);
  }
}

.components {
  display: flex;
}
.components > div:nth-child(1) {
  width: 320px;
  margin: 0 1.5rem 0 0;
}
.components > div:nth-child(2) {
  flex: 1;
  margin: 0 1.5rem 0 0;
  min-height: 20rem;
}
.components > div:nth-child(3) {
  width: 280px;
  max-height: 800px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .components {
    display: block;
  }
  .components > div:nth-child(1) {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .components > div:nth-child(2) {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .components > div:nth-child(3) {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}