@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500,550i,700,700i|Cousine|IBM+Plex+Serif:400,400i,700,700i");

/* Variables */

:root {
  --font-serif: IBM Plex Sans, sans-serif;
  --font-sansserif: IBM Plex Serif, sans-serif;
  --font-mono: Cousine, sans-serif;

  --color-white: white;
  --color-gray-dark: #555;
  --color-gray-medium: #aaa;
  --color-gray-light: rgba(0,0,0,0.2);
  --color-purple: rebeccapurple;
  --color-red: #ff595e;
  --color-yellow: #ffca3a;
  --color-blue-light: #bfd7ea;
  --color-blue-medium: #1982c4;
  --color-blue-dark: #0b3954;

  --color-primary: var(--color-purple);

  --border-width: 3px;
  --border-radius: 6px;

  --slider-size: 20px;
}

/* Body */

body {
  font-family: var(--font-serif);
  color: var(--color-gray-dark);
  margin: 0;
}

/* Basic reset and typograpy */

h1,
h2,
h3,
h4 {
  margin: 0 0 0.5em 0;
  padding: 0;
  line-height: 1.2em;
}

h1 {
  font-size: 3rem;
  line-height: 2.8rem;
}
p {
  line-height: 1.5rem;
  margin: 0 0 0.25rem 0;
}
a {
  text-decoration: none;
  color: var(--color-gray-dark);
  border-bottom: 2px solid var(--color-gray-dark);
  font-weight: bold;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Forms */

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  background: var(--color-gray-dark);
  height: var(--border-width);
  position: relative;
  outline: none;
  width: 100%;
  margin-bottom: 1.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: var(--border-width) solid var(--color-gray-dark);
  height: var(--slider-size);
  width: var(--slider-size);
  border-radius: var(--slider-size);
  background: white;
  cursor: pointer;
}

input[type="text"],
input[type="number"] {
  display: block;
  border: var(--border-width) solid var(--color-gray-dark);
  color: var(--color-gray-dark);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

input:disabled {
  opacity: 0.3;
}

label,
.label {
  font-size: 1.1rem;
  display: block;
  margin-bottom: 0.75rem;
}

.sublabel {
  color: var(--color-gray-medium);
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
}

/* Code */

pre {
  overflow: auto;
  max-width: 25vw;
  background: var(--color-gray-light);
  font-family: var(--font-mono);
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: var(--color-gray-dark);
  padding: 1rem;
  margin: 0;
  border-radius: var(--border-radius);
}

code {
  font-family: var(--font-mono);
  border-radius: 3px;
  background: var(--color-gray-light);
  padding: 0.1rem 0.3rem;
  font-size: 0.95rem;
}

/* Components */

.bullet {
  border: var(--border-width) solid var(--color-purple);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-right: 0.5rem;
  width: 1.5em;
  height: 1.5em;
  background: var(--color-purple);
  color: var(--color-white);
}

/* Intro */

.intro {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.intro {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/* Text */

.text {
  font-family: var(--font-sansserif);
  font-size: 1.1rem;
}

.text p {
  line-height: 1.7rem;
  margin: 0 0 0.5em 0;
}

.text a {
  border-bottom: 2px solid var(--color-gray-dark);
}

/* Button */

.button_primary {
  background: var(--color-primary);
  padding: 0.75rem 1rem;
  display: inline-flex;
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
}

.button_secondary {
  background: var(--color-gray-light);
  padding: 0.75rem 1rem;
  display: inline-flex;
  border-radius: var(--border-radius);
  color: var(--color-gray-dark);
  font-weight: bold;
  cursor: pointer;
}

.button_tertiary {
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  border: 3px solid var(--color-gray-dark);
  border-radius: var(--border-radius);
  color: var(--color-gray-dark);
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
}

.buttons {
  display: flex;
}

.buttons .button_tertiary {
  margin-left: -3px;
  border-radius: 0;
}

.buttons .button_tertiary:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.buttons .button_tertiary:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* Layout */

header,
.header {
  display: flex;
  height: 5rem;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-width) solid var(--color-gray-dark);
  font-size: 1.2rem;
  font-weight: bold;
}

/* Third party libraries */

.katex {
  font-size: 1.5em;
  color: var(--color-gray-dark);
  padding: 2rem;
  display: block;
}

.katex .colorbox {
  border-radius: var(--border-radius);
  font-family: sans-serif !important;
}
/* Internal styles */

dd {
  font-family: var(--font-mono);
  color: var(--color-gray-medium);
  margin: 0;
  padding: 0;
  margin: 1rem 0;
}
dd:first {
  margin-top: 0;
}
